:root{
        --primary : black;
        --secondary : rgb(27, 26, 26);
        --li : rgb(37, 34, 34);
        --extra : blue;
        --text : white;
        --shadow : aqua;
    }
@media(min-width: 320px) and (max-width : 480px){
#list{
     width: 85%;
}
#taskInput{
    width: 80%;
}
}

@media(min-width: 481px) and (max-width : 1024px){
#list{
     width: 70%;
}
#taskInput{
    width: 65%;
}
}
body{
    padding : 50px;
    text-align: center;
    background-color: var(--secondary);
    color: var(--text);
}
.div{
    display: flex;
    justify-content: center;
}
#taskInput{
    border-radius: 4px;
    border: none;
    padding: 4px;
    width: 60%;
}
#taskInput:focus{
    box-shadow: 0 0 2px var(--shadow);
    transition: 0.4s;
}
#addTaskBtn, #ClearTaskBtn{
    font-weight: bold;
    border-radius: 3px;
    border: none;
    padding: 5px 7px;
    margin: 3px;
}
#addTaskBtn:active, #ClearTaskBtn:active{
    background-color: gray;
}
#list{
    list-style: none;
    padding: 10px;
     width: 50%;
}
li{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
  background-color: var(--li);  
}
.done{
  text-decoration: line-through;
  opacity: 0.6;
}
.red:hover{
    box-shadow: 0 0 4px red;
      transform: scale(1.1);
      transition: 0.5s;
}
.red:active{
    background-color: gray;
}
